@{
    ViewBag.Title = "Contactpagina";
}
<h2>@ViewBag.Title.</h2>

<div class="row">
    <div class="col-md-2">
        <img src="~/Content/Images/ExcellentTaste250x250.png" class="img-responsive img-rounded" />
    </div>


    <div class="col-md-10">
        <h3>Excellent Taste</h3>
        <h4>Sloterweg 259</h4>
        <h4>1171 CP  BADHOEVEDORP</h4>
        <h4>Tel.: 020-4494708</h4>
        <address>

            <br />
            <strong>Support:</strong>   <a href="mailto:Support@example.com">support@excellenttaste.nl</a><br />
            <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">marketing@excellenttaste.nl</a>
        </address>
    </div>
</div>

<div class="resp-container">
    <iframe class="resp-iframe" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2437.977462614765!2d4.771605915530056!3d52.33455495770866!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c5e1442615ecdd%3A0x7232e81f952303f4!2sSloterweg+259%2C+1171+CP+Badhoevedorp!5e0!3m2!1snl!2snl!4v1546935023006" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    @*<iframe class="resp-iframe" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d9747.57138654775!2d4.85398483961937!3d52.354228676528685!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c5e10c0713f179%3A0x7c2ac6b9792584fb!2sBadhoevedorp!5e0!3m2!1snl!2snl!4v1546872521549" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>*@
</div>